<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<internalLogLevel>Warn</internalLogLevel>
	<internalLogFile>${specialfolder:folder=MyDocuments}\nlog-internal.log</internalLogFile>
	<targets>
		<!-- Log file location in Documents folder -->
		<target xsi:type="File" name="logfile" fileName="${specialfolder:folder=MyDocuments}\DrillNamer.log"
				layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>
	<rules>
		<!-- Log all levels to the logfile -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
